.book_info {
    display: flex;
}

.book_info img{
    width: 20em;
    height: 616px;
    border-radius: 10px;
    margin-right: 2em
}

.content {
    width: 100%;
}

.book_info p:nth-child(2) {
    color: grey;
    font-weight: 700;

    margin-bottom: .2em;
}

.book_info .title_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book_info p:nth-child(3) {
    font-size: 16px;
    margin-bottom: 1em;
}

.icons {
    display: flex;

}

.icons div {
    width: 32px;
    height: 32px;
    opacity: 0.75;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: .5em;
    /*margin: 5px;*/
}

.book_info .description {
    font-weight: 400;
    font-size: 18px;
}

